{% load static %}
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tuime - Animal Food Website Template"/>
    <meta name="keywords" content="accessories, digital products, electronic html, modern, products, responsive"/>
    <meta name="author" content="hastech"/>

    <title>Tuime - Animal Food Website Template</title>
    <!--== Tailwind ==-->
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.2.4/dist/cdn.min.js"></script>
    <!--== Favicon ==-->
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600&display=swap" rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <!--== Font Awesome Min Icon CSS ==-->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <!--== 7 Stroke Icon CSS ==-->
    <link href="{% static 'assets/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="{% static 'assets/css/swiper.min.css' %}" rel="stylesheet" />
    <!--== Fancybox Min CSS ==-->
    <link href="{% static 'assets/css/fancybox.min.css' %}" rel="stylesheet" />
    <!--== Range Slider Min CSS ==-->
    <link href="{% static 'assets/css/ion.rangeSlider.min.css' %}" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />